.searcher__container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 450px;
}

.searcher {
  margin-top: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  .searcher__input {
    margin-top: 20px;
    width: 75%;
    border-radius: 6px;
    border: 1px solid #8b949e;
    height: 35px;
    background-color: #21262d;
  }
}

.users-col {
  width: 50%;
}

.users-col-rep {
  width: 50%;
}

.users-row {
  width: 80%;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 15px;
  width: 100%;
  box-shadow: inset 0 -1px 0 #21262d;

  .user__mainInfo {
    color: #c9d1d9;
    height: 70px;
    display: flex;
    align-items: center;
    flex-direction: row;

    .user__mainInfo__avatar {
      width: 50px;
      height: 50px;
      border-radius: 12px;
    }

    .user__mainInfo__nickname {
      font-size: 16px;
      margin-left: 10px;
    }
  }
}

.repos {
  display: flex;
  align-items: flex-start;
  margin: 15px;
  box-shadow: inset 0 -1px 0 #21262d;
  justify-content: flex-end;

  .user__count-repos {
    display: flex;
    color: #c9d1d9;
    height: 70px;
    font-size: 16px;
    align-items: center;
  }
}

.ant-pagination-item {
  background-color: rgba(139, 148, 158, 0) !important;
  border: 0;
  padding: 1px;

  border-radius: 7px;
  a {
    color: white !important;
  }
  &:hover {
    border: 1px solid #2d333d;
    padding: 0;
  }
}
.ant-pagination-item-active {
  background-color: #1f6feb !important;
  a {
    color: white !important;
  }
}
.user__pagination {
  display: flex;
  justify-content: center;
  width: 100%;
}
.ant-pagination-prev .ant-pagination-item-link,
.ant-pagination-next .ant-pagination-item-link {
  background-color: rgba(13, 17, 23, 0);
  border: 0;
  color: white;
}
.ant-pagination-jump-prev
  .ant-pagination-item-container
  .ant-pagination-item-ellipsis,
.ant-pagination-jump-next
  .ant-pagination-item-container
  .ant-pagination-item-ellipsis {
  color: white !important;
  margin-top: 6px;
}
.ant-select {
  display: none !important;
}
