.app {
  background-color: #0d1117;
  color: white;

  .app__header {
    width: 100%;
    height: 60px;
    background-color: #161b22;
    align-items: center;

    .app__header_flex {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: flex-start;

      .app__header-logo_img {
        background-color: white;
        border-radius: 30px;
        margin: 0 10px 0 20px;
        height: 35px;
        width: 35px;
        align-items: center;
      }

      .app__header-text {
        font-size: 23px;
        font-weight: 400;
      }
    }
  }
}
