.user-repo-loader-container {
  display: flex;
  justify-content: center;
  width: 100%;
  .user-repo-loader {
    width: 35px;
    height: 35px;
  }
}
.ant-image-mask {

  border-radius: 20% !important;
}
.user__profile__container {
  height: 600px;
}
.user__profile {

  .ant-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    .ant-image-mask {
      margin-left: 19px;
      margin-top: 8px;
      width: 90%;
      border-radius: 100% !important;
    }
  }
  margin-top: 20px;
  .user__profile_avatar {
    margin-top: 10px;
    object-fit: cover;
    width: 90%;
    border-radius: 50% !important;
    border: 1px solid #30363d;
    box-shadow: 0 0 0 1px #30363d;
  }

  .user__profile_bio {
    margin-left: 10px;
    margin-top: 15px;
    font-size: 17px;
    font-weight: 500;
  }

  .user__profile_login {
    margin-left: 10px;
    margin-top: 3px;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    color: #8b949e;
  }

  .user__profile_follow {
    margin-left: 10px;
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    align-items: center;

    .user__profile_follow-text {
      font-size: 14px;
      font-weight: 400 !important;
      color: #8b949e;
    }

    .user__profile_following {
      font-size: 14px;
      font-weight: 500;
      margin-left: 7px;
    }

    .user__profile_followers {
      font-size: 14px;
      font-weight: 500;
      margin-left: 4px;
    }
  }

  .user__profile_name {
    margin-left: 10px;
    font-size: 26px;
    line-height: 1.25;
  }
}
